body {
    text-align: center;
    background: #222;
    color: white;
    font-family: Arial, sans-serif;
}

canvas {
    background: #555;
    border: 4px solid white;
    display: block;
    margin: 0 auto;
}
